<div class="container">
        

            <div class="tarjeta fotos-pizza">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/postres.jpeg" class="w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/salmon.jpeg" class="w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/pizza1.jpg" class="w-100" alt="...">
                    </div>
                    </div>
                    
                </div>
            </div>

            <div class="tarjeta texto-pizza">
                <div class="card-body">
                    <h3>Pizzas</h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error tempore quibusdam, voluptate corrupti sit praesentium cupiditate porro quaerat exercitationem nobis perferendis placeat ut veritatis animi</h5>
                </div>
            </div>
        
            
            <div class="tarjeta fotos-espacio">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/patio1.jpg" class="w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/principal1.jpg" class="w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/patio2.jpg" class="w-100" alt="...">
                    </div>
                    </div>
                    
                </div>
            </div>

            <div class="tarjeta texto-espacio left">
                 <div class="card-body">
                     <h3>Nuestro Espacio</h3>
                     <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error tempore quibusdam, voluptate corrupti sit praesentium cupiditate porro quaerat exercitationem nobis perferendis placeat ut veritatis animi</h5>
                </div>
            </div>
        
        
</div>




